.face{
    width:400px;
    height:400px;
    transition:margin-top 2s ease 0.1s;
    background-color: coral;
    border-radius: 50%;
    align-self: center;


    
}
.face:hover{
    background-color: darkorange;
    border-radius: 50%;
    opacity:0.5;
}

.mouth{
width:200px;
height:75px;
background-color: brown;
border-radius:0 0 50px 50px;
position:absolute;
top:250px;
left:100px;
}
.left-eye,.right-eye{
    width:50px;
    height:50px;
    background-color: black;
    border-radius: 50%;
    display:inline-block;
    position:absolute;
    left:100px;
    top:100px;
    box-shadow:  1px 2px 2px black;
}
.right-eye{
left:250px;
}